# Backup en versiehistorie
Oud/
versions/

# Lege mappen
images/

# OS bestanden
.DS_Store
Thumbs.db

# Nuxt / Node
node_modules
.output
.nuxt
dist
.env
.env.local
*.log

# Local Netlify folder
.netlify
